:root {
  --silver-blue: #b0c2de;
  --silver-blue-text: black;
  --darker-silver: #86a2c9;
  --darker-silver-text: black;
  --blue-main: #0167a8;
  --blue-main-text: white;
  --navy-blue: #035593;
  --navy-blue-text: white;
  --dark-grey: #03437e;
  --dark-grey-text: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

div {
  margin: 1px;
}

.wrapper {
  display: grid;
  grid-template-columns: 15% 85%;
}

.sidebar {
  background-color: var(--blue-main);
  color: var(--blue-main-text);
  height: 100vh;
}

.dashboard-logo {
  display: grid;
  grid-template-columns: 16% 84%;
  align-items: center;
  margin-left: 12px;
  margin-bottom: 12px;
  gap: 8px;
}

.icon-text {
  display: grid;
  grid-template-columns: 16% 84%;
  align-items: center;
  margin-left: 20px;
  font-weight: bolder;

  > p {
    padding-top: 2px;
  }
}
.icon-acc {
  display: grid;
  grid-template-columns: 16% 84%;
  align-items: center;
  margin-left: 20px;
  font-weight: bolder;

  > p {
    padding-top: 2px;
  }
}


.main-content {
  background-color: antiquewhite;
}
