:root {
  --silver-blue: #b0c2de;
  --silver-blue-text: black;
  --darker-silver: #86a2c9;
  --darker-silver-text: black;
  --blue-main: #0167a8;
  --blue-main-text: white;
  --navy-blue: #035593;
  --navy-blue-text: white;
  --dark-grey: #03437e;
  --dark-grey-text: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

hr {
  width: 92%;
  color: white;
  opacity: 40%;
  height: 1px;
}

.wrapper {
  display: grid;
  grid-template-columns: 16% 84%;
}

.main-content {
  display: grid;
  grid-template-rows: 12% 88%;
}

.sidebar {
  background-color: var(--blue-main);
  color: var(--blue-main-text);
  height: 106vh;

  .dashboard-logo {
    display: grid;
    grid-template-columns: 16% 84%;
    align-items: center;
    margin-left: 12px;
    margin-bottom: 12px;
    gap: 8px;
  }

  .icon-text {
    display: grid;
    grid-template-columns: 16% 84%;
    align-items: center;
    margin-left: 20px;
    font-weight: bolder;

    > p {
      padding-top: 2px;
    }
  }
}

.header {
  display: grid;
  grid-template-rows: 36% 54%;
  background-color: white;
  align-items: center;
  padding-left: 28px;

  .searchbar-section {
    display: grid;
    grid-template-columns: 80% 20%;
    justify-content: center;
    align-items: center;

    .searchbar {
      display: grid;
      align-content: center;
      grid-template-columns: 4% 96%;
    }
    .search-icon {
      align-self: center;
      padding-top: 2px;
    }
    .searchbar > input {
      width: 92%;
      height: 28px;
      border-radius: 12px;
      border: none;
      background-color: var(--darker-silver);
      padding-left: 12px;
    }
    .searchbar > input:focus {
      outline: none;
    }
  }

  .notif-section {
    display: grid;
    grid-template-columns: 16% 16% 68%;
    align-items: center;

    .account-name {
      padding-left: 20px;
      font-weight: bold;
    }
  }

  .greetbuttons-section {
    display: grid;
    grid-template-columns: 4% 72% 22%;
    align-items: center;
    padding-left: 4px;
    padding-top: 16px;

    .greeting-section {
      padding-left: 20px;
    }
    .mini-text {
      font-size: small;
      font-weight: bold;
      margin-bottom: 4px;
    }
    .larger-text {
      font-weight: bolder;
      font-size: x-large;
    }
  }

  .button-section {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: space-between;

    > button {
      background-color: var(--navy-blue);
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 16px;
      width: 88px;
      height: 32px;
      justify-self: center;
    }
  }
}

.content-section {
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 72% 28%;
  padding: 20px;

  .cards-section {
    display: grid;
    grid-row: span 2;
    grid-template: 0.1fr 1fr 1fr 1fr/ 1fr 1fr;
    align-items: center;

    .content-title {
      grid-column: 1/3;
    }

    .card {
      background-color: white;
      border: 0px solid var(--dark-grey);
      padding: 12px;
      height: 80%;
      width: 80%;
      border-radius: 12px;
      border-left-width: 8px;
      box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.12);

      display: grid;
      grid-template: 70% 30% / 50% 50%;
    }
    .card > .card-content {
      grid-column: 1/3;
      padding-top: 16px;
    }
  }
  .announcements-section {
    display: grid;
    grid-template-rows: 0.1fr 1fr;

    .content-title {
      margin-bottom: 28px;
    }
    > .card {
      display: grid;
      grid-template: 1fr 1fr 1fr;
      background-color: white;
      border: 0px solid var(--dark-grey);
      padding: 16px;
      height: 88%;
      width: 88%;
      border-radius: 12px;
      box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.12);
    }
    .card > .card-content {
      margin: 20px;
    }

    .greeting-section {
      display: grid;
      .larger-text {
        opacity: 60%;
      }
    }
  }
}

.card-icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  justify-self: right;
  gap: 20px;
}

.content-title {
  font-size: large;
  font-weight: bold;
}

.annotrend-section {
  display: grid;
  grid-template-rows: 60% 40%;
  grid-row: span 2;
}

.trending-section {
  display: grid;
  grid-template-rows: 0.1fr 1fr;

  .card {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: white;
    border: 0px solid var(--dark-grey);
    border-radius: 12px;
    box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.12);
    padding: 16px;
    height: 84%;
    width: 88%;
    align-items: center;
    padding-top: 12px;
  }

  .card > .card-content {
    display: grid;
    grid-template-columns: 16% 84%;
    padding-right: 12px;
    padding-left: 16px;
  }
  .greeting-section {
    display: grid;
    grid-template-rows: 1fr 1fr;

    .larger-text {
      opacity: 60%;
    }
  }
}
